<h2 align="center">  Machine Lerning Predição De Preços De Carros<h2>

#### Aspirante a Cientista de Dados Jr.: Karina Gonçalves Soares

#### Links de estudo:

* [Projeto de Aprendizado de máquina](https://medium.com/@furkankizilay/end-to-end-machine-learning-project-using-fastapi-streamlit-and-docker-6fda32d25c5d)
* [Repositório](https://github.com/EddyGiusepe/FastAPI/blob/main/4_End-to-End_ML_FastAPI_Streamlit_Docker/Machine_Learning_to_Cars.py)

#### Neste artigo, desenvolveremos um projeto de aprendizado de máquina de ponta a ponta com 11 etapas em nosso próprio local. Após isso, vamos criar uma API com FastAPI, depois de criar a interface com o auxílio do Streamlit, vamos dockerizar nosso projeto.

#### 1. Carregamento de dados
#### 2. Engenharia de recursos
#### 3. Limpeza de dados
#### 4. Remoção de Outliers
#### 5. Visualização de dados (relação entre variáveis)
#### 6. Extraindo dados de treinamento
#### 7. Codificação
#### 8. Construir um modelo
#### 9. Criar API com FastAPI
#### 10. Criando uma interface web para o modelo criado com Streamlit.
#### 11. Dockerize

In [2]:
#%pip install pandas

In [3]:
import pandas as pd

In [4]:
# Abrindo arquivo para leitura

df = pd.read_csv('cars.csv')
df.head()

,name,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,2014,"5,75,000","36,000 kms",Diesel

## Engenharia de recursos
#### Adicionar novo recurso para nomes de empresas.

In [7]:
df["company"] = df.name.apply(lambda x: x.split(" ")[0])
df.head()

,name,year,Price,kms_driven,fuel_type,company
0,Hyundai Santro Xing XO eRLX Euro III,2007,"80,000","45,000 kms",Petrol,Hyundai
1,Mahindra Jeep CL550 MDI,2006,"4,25,000",40 kms,Diesel,Mahindra
2,Maruti Suzuki Alto 800 Vxi,2018,Ask For Price,"22,000 kms",Petrol,Maruti
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,"3,25,000","28,000 kms",Petrol,Hyundai
4,Ford EcoSport Titanium 1.5L TDCi,2014,"5,75,000","36,000 kms",Diesel,Ford