<h2 align="center">  Machine Lerning Predição De Preços De Carros<h2>

#### Aspirante a Cientista de Dados Jr.: Karina Gonçalves Soares

#### Links de estudo:

* [Projeto de Aprendizado de máquina](https://medium.com/@furkankizilay/end-to-end-machine-learning-project-using-fastapi-streamlit-and-docker-6fda32d25c5d)
* [Repositório](https://github.com/EddyGiusepe/FastAPI/blob/main/4_End-to-End_ML_FastAPI_Streamlit_Docker/Machine_Learning_to_Cars.ipynb)

#### Neste artigo, desenvolveremos um projeto de aprendizado de máquina de ponta a ponta com 11 etapas em nosso próprio local. Após isso, vamos criar uma API com FastAPI, depois de criar a interface com o auxílio do Streamlit, vamos dockerizar nosso projeto.

#### 1. Carregamento de dados
#### 2. Engenharia de recursos
#### 3. Limpeza de dados
#### 4. Remoção de Outliers
#### 5. Visualização de dados (relação entre variáveis)
#### 6. Extraindo dados de treinamento
#### 7. Codificação
#### 8. Construir um modelo
#### 9. Criar API com FastAPI
#### 10. Criando uma interface web para o modelo criado com Streamlit.
#### 11. Dockerize

In [1]:
#%pip install pandas

In [2]:
import pandas as pd

In [3]:
# Abrindo arquivo para leitura

df = pd.read_csv('cars.csv')
df.head()

,name,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,2014,"5,75,000","36,000 kms",Diesel

## Engenharia de recursos
#### Adicionar novo recurso para o nomee da empresa.

In [17]:
df["company"] = df.name.apply(lambda x: x.split(" ")[0])
df.head()

,name,year,Price,kms_driven,fuel_type,company
0,Hyundai Santro Xing XO eRLX Euro III,2007,"80,000","45,000 kms",Petrol,Hyundai
1,Mahindra Jeep CL550 MDI,2006,"4,25,000",40 kms,Diesel,Mahindra
2,Maruti Suzuki Alto 800 Vxi,2018,Ask For Price,"22,000 kms",Petrol,Maruti
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,2014,"3,25,000","28,000 kms",Petrol,Hyundai
4,Ford EcoSport Titanium 1.5L TDCi,2014,"5,75,000","36,000 kms",Diesel,Ford

## Limpeza de dados
#### year tem muitos valores não anuais.

In [18]:
df.info('year')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   year        892 non-null    object
 2   Price       892 non-null    object
 3   kms_driven  840 non-null    object
 4   fuel_type   837 non-null    object
 5   company     892 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [20]:
# Gerando valores aleatórios para análisar o DataFrame.

visualizando_valores_aleatorios = df.sample(n=10, replace=False)
print(visualizando_valores_aleatorios)

                                    name  year     Price  kms_driven
588                      Hyundai i10 Era  2011  1,75,000  30,000 kms  \
743            Tata Indica V2 DLS BS III  2009    90,000  30,600 kms
817                      Volkswagen Polo  2013  2,99,999  48,000 kms
786            Maruti Suzuki Alto 800 Lx  2003    42,000  60,000 kms
395  Maruti Suzuki Swift Dzire Tour (Gat  ara)  3,00,000         NaN
265                  Maruti Suzuki Dzire  2009  2,20,000  46,000 kms
855          Hyundai Santro AE GLS Audio  2003    60,000  70,000 kms
318                           Honda City  2014  5,84,999  39,000 kms
809                       urgent sale Ta  Sumo  2,20,000         NaN
224                      Volkswagen Polo  2015  3,30,000  38,000 kms

    fuel_type     company
588    Petrol     Hyundai
743    Diesel        Tata
817    Diesel  Volkswagen
786    Petrol      Maruti
395       NaN      Maruti
265    Petrol      Maruti
855    Petrol     Hyundai
318    Petrol       Honda
809       NaN      urgent
224    Diesel  Volkswagen

In [22]:
# Observamos que a SÉRIE --> "year" tem valores que não são anos (year). Vamos eliminar eles:

df['year']. value_counts()

year
2015    117
2014     94
2013     94
2016     76
2012     75
       ...
ture      1
emi       1
able      1
no.       1
zest      1
Name: count, Length: 61, dtype: int64

In [23]:
# Podemos verificar também assim:
df['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [24]:
print('Verificando o Type: ', type(df['year'].iloc[0]))

Verificando o Type:  <class 'str'>